html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
    background: #8491A3;
    background: #0D1B2A;
}

/* Fonts to use */
/* font-family: 'Clash Display', sans-serif;
font-family: 'Satoshi', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'Melodrama', serif; */

.title-container {
  position: absolute;
  top: 10px;
  left: 30px;
}
.title-container .title-container-title {
  font-size: 26px;
  color: #1B263B;
  font-family: 'Melodrama', serif;
}

.watermark {
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.watermark .watermark-letter {
  font-size: 18px;
  color: #1B263B;
  font-family: 'Melodrama', serif;
}
